@page "/datagrid"
@using Infragistics.Blazor.Controls;
@using IgBlazorSamples.Business;
@inject IgBlazorSamples.Services.GridDataService data;

<h1>Data Grid</h1>

<LiveGrid DataSource="@data.GridItems" Width="100%" Height="800px">
    
</LiveGrid>

@code {

}
